@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Nunito", sans-serif;
    list-style: none;
    font-weight:700;
    text-decoration: none;
}
:root {
            --green: #46bb2e;
            --black: #192a56;
            --light-color: #666;
            --bgColor: rgba(248, 242, 242, 0.796);
            --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
/*start header*/

nav .container a{
    color: var(--black)!important;
    font-size: 17px;
    margin-right: 3px;
    margin-left: 3px;
}
nav li {
    margin: 5px 0;
}
.container a.navbar-brand{
    font-size: 25px !important;
}
.container .nav-item a.active{
    color: white !important;
    background-color: var(--green) !important;
}
.container .nav-item a:hover{
    background-color: var(--green) !important;
    color: #fff !important;
}
.logo span {
    font-weight: 700px;
/* font-size: 1.6rem; */
    margin-left: -6px!important;
    cursor: pointer;
}
.icons .circle {
padding: 10px;
height: 40px;
width: 40px;
background-color: rgba(84, 83, 82, 0.2);
    border-radius: 50%;
    margin: 10px;
    transition: 0.2s;
}
.icons .circle:hover{
background-color: var(--green);
color: white;
transform: rotate(360deg);


}
.icons .circle i {
font-size: 19px;
}
/*end header*/
/*start banner*/
.home-image img{
    width: 100%;
    height: 100%;
}

.row  h3{
    color: var(--green);
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
}
.row  h1{
font-size: 4rem;
color: var(--black)!important;
}
.row  p{
font-size: 25px;
color: var(--light-color);
font-weight: lighter;
}
.row .btn-banner,
.row .btn-about
{
font-size: 16px !important;
    width: 150px !important;
    background-color: var(--black)!important;
    border: 1px solid black;
    transition: 0.4s;
    border-radius: 5px !important;
    box-shadow: 0px -2px rgb(87, 87, 87)!important;
}
.row .btn-banner:hover,
.row .btn-about:hover
{
background-color: var(--green)!important;
width: 170px !important;
letter-spacing: 2px!important;
box-shadow: none!important;
}
/*end banner*/
/*start dishes*/
.dishes{
    background-color: var(--bgColor);
}
.card{
border: none;
position: relative;
transition: 0.3s;
box-shadow: var(--box-shadow);
}
.card:hover .circle{
visibility: visible;
}

.d-text h3{
font-size: 35px;
color: var(--black);
}
.d-text p{
    font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
}
.dspan{
    width: 150px;
    height: 3px;
    background-color: var(--green);
    position: absolute;
    left: 45%;
    top: 124%;
}
.dimage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dimage img{
    width: 70%;
    height: 115.2px;
    object-fit: contain;

}
.totald{
    text-align: center;
}
.pricing p{
    font-size:20px;
    color: var(--green);
}
.pricing .btn{
    font-size: 15px !important;
        width: 120px !important;
        height: 37px;
        padding: 5px;
        background-color: var(--black) !important;
        border: 1px solid black;
        transition: 0.4s;
        border-radius: 5px !important;
}
.pricing .btn:hover{

    background-color: var(--green) !important;
    color: #fff!important;
   
}

.dicons .circle {
    visibility: hidden;
    padding: 10px;
    height: 40px;
    width: 40px;
    background-color: rgba(84, 83, 82, 0.2);
    border-radius: 50%;
    margin: 10px;
    transition: 0.1s;
    font-size: 20px;
}

.dicons .le-icon{
position: absolute;
left: -5%;
transition: 0.2s;
}
.dicons .ri-icon{
position: absolute;
right: -5%;
transition: 0.2s;
}

.card:hover .le-icon {
    visibility: visible;
    left: 5%;
}

.card:hover .ri-icon {
    right: 5%;
}

/*end dishes*/
/*start about*/
.a-image img{
    width: 100%;
}

.a-maincontent h4{
color: var(--black);
font-size: 2rem;
font-weight: 700;
}
 .a-maincontent p{
    line-height: 35px;
        letter-spacing: 0.3px;
        font-weight: 100;
        font-size: 1rem;
}
 .service{
    border: 1px solid var(--black);
    background-color: var(--bgColor);
    border-radius:5px ;
}
 .service p{
margin: 0;
}
 .service .fas{
 font-size: 20px;
}
.service .fas::before{
    display: inline-block!important;
 width: 20px!important;
}
 .service p{
font-size: 1rem;
color: var(--black);
}

/*end about*/
/*start menu*/
.menu{
    background-color: var(--bgColor);
}
.m-image img{
    
            height: 250px;
            border-radius: 5px;
}
.totalm{
    font-weight: 100 !important;
}
.totalm .card-title{
    color: var(--black);
    font-size: 1.5rem;
}
.totalm .m-text{
    color: var(--light-color);
    font-size: 16px;
    line-height: 25px;
}
.totalm .m-text p{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 100;
}
.m-pricing p{
    font-size: 30px;
        color: var(--green);
        font-weight: 100;
}
.m-pricing .btn {
    font-size: 15px !important;
        width: 115px !important;
        height: 40px;
        padding: 5px;
        background-color: var(--black) !important;
        border: 1px solid black;
        transition: 0.4s;
        border-radius: 5px !important;
        box-shadow: 0px -2px rgb(87, 87, 87)
}

.m-pricing .btn:hover {

    background-color: var(--green) !important;
    color: #fff !important;
letter-spacing: 0;
}
.micons .circle {
    position: absolute;
    position: absolute;
        padding: 16px;
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px;
        transition: 0.2s;
        font-size: 20px;
        right: 20px;
       
}

.micons .circle:hover {
    background-color: var(--green);
    color: white;
    ;
}
/*end menu*/
/*start contact*/
.spans{
margin: auto;
}
  .span {
    width: 110px;
        height: 3px;
        background-color: #46bb2e;
        margin-bottom: 13px;
        margin: 0 auto;
        margin-bottom: 2px;
}
.s-active {
    width: 160px;
        height: 3px;
        background-color: #46bb2e;
        margin-bottom: 2px;
           
}
.order{
    background-color: var(--bgColor);
    margin-top: 200px;
}
.order .spans{
        left: 45%;
}
.form-label{
    color: gray;
    font-weight: lighter;
}
.form-control{
    background-color: var(--bgColor);
    font-size: 15px;
}
.form-control::-webkit-input-placeholder{
    font-size: 15px;
 color: rgb(151, 149, 149);
}

.form-control:focus{
   border: 1px solid var(--green);
   box-shadow: none;
   background-color: var(--bgColor);
}
form .btn-order {
font-size: 14px !important;
    width: 103px !important;
    background-color: var(--black) !important;
    border: 1px solid black;
    transition: 0.4s;
    border-radius: 5px !important;
    box-shadow: 0px -2px rgb(87, 87, 87) !important;
}
form .btn-order:hover {
    background-color: var(--green) !important;
    color: #fff !important;

}
/*end contact*/
/*start footer*/
.footer  h4{
color: var(--black);
font-weight: 700;
}
.footer .links a{
    padding: 5px;
    text-decoration: none ;
    color: rgb(112, 112, 112);
    font-weight: 100;
}
.footer .links a:hover{
color: var(--green);
text-decoration: underline;
}
.copyright{
    background-color: var(--green);
    padding-left: 120px;
    padding-right: 120px;
    padding-top:30px ;
        margin-right: 0 !important;
}
.angora{
    padding-left: 0 !important;
}
.angora p{
    font-size: 17px;
    color: #fff;
    float: right;
}
.angora a{
text-decoration: none;
color: var(--black);
font-weight: 100;
}
/*start footer*/


@media (max-width: 990px){
.h-icons{
    display: none !important;
}
}
@media (max-width: 630px){
    header{
            margin-bottom: 150px;
    }
    .bannr{
        text-align: center;
    }
    .home-image img{
            margin-bottom: 150px;
        }
.copyright {
    padding-left: 110px;
}
}
